annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
click==8.3.2
configobj==5.0.9
coverage==7.13.5
DBUtils==3.1.2
dpath==2.2.0
fastapi==0.136.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.4
pandas==3.0.2
parse_it==2025.9.14.13.29
pydantic==2.13.2
pydantic_core==2.46.2
pyhcl==0.4.5
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.26
PyYAML==6.0.3
six==1.17.0
starlette==1.0.0
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
xmltodict==1.0.4
